#root {
	margin: 0px;
	text-align: center;
}

body {
	overflow-y: scroll;
}
/* .main {
	margin: 30px;
} */
h1,
h2,
h3,
h4,
h5,
pre,
#text,
p,
.white-font {
	color: white;
	margin: 0px;
}
/* textarea.andt-input,
div.andt-select-selector {
	width: 10px;
} */

@keyframes fadeIn {
	0% {
		background-color: rgb(69, 150, 86);
	}
	100% {
		background-color: rgb(0, 110, 255);
	}
}
@keyframes fadeInAmiibo {
	0% {
		background-color: rgb(69, 150, 86);
	}
	100% {
		background-color: rgb(148, 22, 22);
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeWorkoutToBuddySystem {
	0% {
		background-color: rgb(0, 110, 255);
	}
	100% {
		background-color: rgb(69, 150, 86);
	}
}

@keyframes fadeAmiiboBuddyToBuddySystem {
	0% {
		background-color: rgb(148, 22, 22);
	}
	100% {
		background-color: rgb(69, 150, 86);
	}
}

@keyframes fadeBuddySystemToWorkouts {
	0% {
		background-color: rgb(69, 150, 86);
	}
	100% {
		background-color: rgb(0, 110, 255);
	}
}
@keyframes fadeBuddySystemToWorkoutBuddyLogoutButton {
	0% {
		background-color: rgb(81, 166, 99);
	}
	100% {
		background-color: #1677ff;
	}
}
@keyframes fadeBuddySystemToAmiiboBuddyLogoutButton {
	0% {
		background-color: rgb(81, 166, 99);
	}
	100% {
		background-color: #bc4b4b;
	}
}

@keyframes fadeAmiiboBuddytoBuddySystemLogoutButton {
	0% {
		background-color: #bc4b4b;
	}
	100% {
		background-color: rgb(81, 166, 99);
	}
}

@keyframes fadeWorkoutBuddytoBuddySystemLogoutButton {
	0% {
		background-color: #1677ff;
	}
	100% {
		background-color: rgb(81, 166, 99);
	}
}
@keyframes fadeBuddySystemToAmiiboBuddy {
	0% {
		background-color: rgb(69, 150, 86);
	}
	100% {
		background-color: rgb(148, 22, 22);
	}
}

/* \DOMAINS */
/* 
.buddy-system-homepage h1 {
	text-align: center;
	margin: 30px auto;
}

.buddy-system-header {
	background-color: rgb(69, 150, 86);
	animation: fadeOut 1s linear;
}
.buddy-system-header .logout-button {
	background-color: rgb(69, 150, 86);
}

.buddy-system-header .login-button {
	background-color: rgb(56, 122, 70);
}

.workout-buddy-header {
	background-color: rgb(0, 110, 255);
	animation: fadeIn 1s linear;
}

.workout-buddy-header .logout-button {
	background-color: #1677ff;
}

.amiibo-buddy-header {
	background-color: rgb(148, 22, 22);
}

.amiibo-buddy-header.from-login {
	background-color: rgb(148, 22, 22);
	animation: fadeInAmiibo 1s linear;
}*/

/* .amiiboBuddy-header .logout-button {
	/* background-color: #bc4b4b; */
/* }  */

.amiiboBuddy-header .ant-btn-primary {
	background-color: #bc4b4b;
}
.amiiboBuddy-header button.ant-btn-primary:hover,
.buddySystem-to-amiiboBuddy-header button.ant-btn-primary:hover {
	background-color: #c76565 !important;
}
.buddySystem-header .ant-btn-primary {
	background-color: rgb(81, 166, 99);
}
.buddySystem-header button.ant-btn-primary:hover,
.workoutBuddy-to-buddySystem-header button.ant-btn-primary:hover,
.amiiboBuddy-to-buddySystem-header button.ant-btn-primary:hover {
	background-color: rgb(107, 185, 124) !important;
}

/* Fade Headers */
/* TO workoutBuddy */
.buddySystem-to-workoutBuddy-header {
	background-color: rgb(0, 110, 255);
	animation: fadeBuddySystemToWorkouts 1s linear;
}
.buddySystem-to-workoutBuddy-header .ant-btn-primary {
	background-color: #1677ff;
	animation: fadeBuddySystemToWorkoutBuddyLogoutButton 1s linear;
}

/* To BS */
.workoutBuddy-to-buddySystem-header {
	background-color: rgb(69, 150, 86);
	animation: fadeWorkoutToBuddySystem 1s linear;
}

.amiiboBuddy-to-buddySystem-header {
	background-color: rgb(69, 150, 86);
	animation: fadeAmiiboBuddyToBuddySystem 1s linear;
}

.buddySystem-to-amiiboBuddy-header {
	background-color: rgb(148, 22, 22);

	animation: fadeBuddySystemToAmiiboBuddy 1s linear;
}

.buddySystem-to-amiiboBuddy-header .ant-btn-primary {
	background-color: #bc4b4b;
	animation: fadeBuddySystemToAmiiboBuddyLogoutButton 1s linear;
}
.workoutBuddy-header {
	background-color: rgb(0, 110, 255);
}

.amiiboBuddy-to-buddySystem-header .ant-btn-primary {
	background-color: rgb(81, 166, 99);
	animation: fadeAmiiboBuddytoBuddySystemLogoutButton 1s linear;
}

.workoutBuddy-to-buddySystem-header .ant-btn-primary {
	background-color: rgb(81, 166, 99);
	animation: fadeWorkoutBuddytoBuddySystemLogoutButton 1s linear;
}

.buddySystem-header {
	background-color: rgb(69, 150, 86);
}

.amiiboBuddy-header {
	background-color: rgb(148, 22, 22);
}

/* no fade, just login = GREEN */

.fade-undefined-to-buddySystem {
	background-color: rgb(69, 150, 86);
}

.fade-amiiboBuddy-to-buddySystem {
	background-color: rgb(69, 80, 150);
}

.fade-buddySystem-to-amiiboBuddy {
	background-color: rgb(69, 80, 150);
}
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
h2 {
	margin: 0px;
	color: white;
}
.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
.workout-button {
	margin: 3px;
}

.logout-button {
	margin-left: 20px;
	margin-right: 20px;
}
.add-new-workout-button {
	background-color: rgb(0, 89, 205);
}
.header {
	width: 100%;
}

.site-banner {
	padding: 10px 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
	max-width: 1600px;
	margin: auto;
}
/* 
.header *, .workouts-page * {
  color: white;
} */

.account {
	display: flex;
	align-items: center;
}

.account p {
	padding-right: 15px;
	margin: 0px;
}
h1 {
	margin: 0px;
	text-align: left;
}

input[value] {
	color: #8a8a8a;
}
input[value].new-workout-input,
.ant-select-auto-complete span,
.ant-select-item-option-content,
.ant-select-item-empty {
	color: black;
}
.new-workout-input {
	margin-bottom: 12px;
}
.new-workout-name {
	display: flex;
	width: 400px;
	margin: 33px auto 22px;
	justify-content: center;
}

.new-workout-name h1 {
	margin: 33px auto 22px;
}

.auth-page p {
	width: 100%;
}

.auth-page {
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.workouts-page {
	width: 400px;
	margin: auto;
}

.exercise-page {
	text-align: center;
}

.search_container {
	color: #101010;
}

.search-bar {
	width: 260;
}

.add-exercise-button {
	margin-bottom: 19px;
}

.ant-select-auto-complete span {
	/* color: white; */
	font-size: large;
}

.new-exercise-form {
	margin: auto;
	padding: 10px 25px;
	border-radius: 15px;
	border: 3px dashed #4171b5;
	width: 600px;
}

.new-exercise-form,
.new-workout-name h2 {
	margin-bottom: 15px;
}

/* .new-exercise-input {
	/* margin-bottom: 5px; 
} */
.add-field-button {
	margin: auto;
}
.input-field-large {
	width: 350px;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-form-item
	.ant-form-item-label
	> label {
	color: white;
}
/* 
div.ant-space-item{
	height:32px;
} */

/* .exercise-form-button {
	margin-bottom: 33px;
} */
/* .ant-form-item-control-input-content {
  justify-content: center;
} */

/* .form-item {
  margin: auto;
  margin-bottom: 5px;
} */

.black-font span {
	color: #101010;
}

.edit-workout-name {
	position: relative;
	left: 5px;
	top: 30px;
}

.edit-new-workout-name {
	margin-top: 10px;
}

.exercise-list {
	text-align: left;
	width: 400px;
	margin: auto;
	border: 1px solid blue;
}

/* .ant-form-item-control-input button.new-exercise-input {
	width: 100px;
} */
.ant-radio-button.ant-radio-button-checked {
	background-color: rgb(124, 181, 255);
}

/* .radio-buttons {
} */

.reps-radio {
	display: flex;
}
.set {
	text-align: left;
	width: 360px;
	margin: auto;
	height: 40px;
}

.exercise-set-list {
	width: 400px;
	margin: auto;
	padding: 14px;
	border: 2px solid rgb(185, 203, 227);
}

.weight-buttons {
	display: inline;
}

.set-item {
	display: inline-block;
}
.set-reps,
.set-weight-and-units {
	width: 100px;
}
.set-reps-buttons,
.weight-buttons {
	width: 55px;
}

.delete-set-button {
	margin-right: 2px;
}

.upsert-username-form {
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-self: center;
	margin: auto;
}
.upsert-username-form-input {
	border-radius: 5px 0 0 5px;
	min-width: 100px;
	background-color: white;
}

.upsert-username-submit-button {
	border-radius: 0 5px 5px 0;
	background-color: rgb(0, 110, 255);
	width: 100px;
}

.delete-button {
	background-color: red;
}

/* workout page */

.workout-controls {
	display: flex;
	position: relative;
	width: 400px;
	justify-content: space-around;
	margin: auto;
	align-items: center;
	height: 51px;
}

.side-workout-button {
	position: relative;
	width: 130px;
	height: 35px;
	text-align: center;
	background-color: #4171b5;
	padding: 0px;
	font-size: 14px;
	border-radius: 43px;
	z-index: 1;
}

.start-button {
	background-color: #17ab2e;
	height: 51px;
	width: 155px;
	font-size: 20px;
	border-radius: 43px;
	z-index: 6;
}

.expand-all-button {
	float: left;
	border-radius: 43px 0px 0px 43px;
	padding-right: 15px;
	margin-right: 40px;
	z-index: 2;
}
.start-button-container {
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
}
.edit-button {
	position: relative;
	float: right;
	border-radius: 0px 43px 43px 0px;
	padding-left: 15px;
}

.workout-controls::after,
.workout-controls::before {
	content: "";
	border: 1px solid 101010;
	text-decoration: none;
	height: 51px;
	width: 150px;
	line-height: 30px;
	text-align: center;
	border-radius: 43px;
}
.workout-controls::before {
	position: absolute;
	/* right: -50px; */
}
.workout-controls::after {
	position: absolute;
	/* right: 50px; */
}

.start-button-container::after,
.start-button-container::before {
	content: "";
	background: 101010;
	border: 1px solid 101010;
	text-decoration: none;
	position: relative;
	height: 51px;
	width: 155px;
	line-height: 30px;
	text-align: center;
	z-index: 4;
	border-top: transparent;
	border-bottom: transparent;
}
.start-button-container::after {
	left: -145px;
	border-radius: 0px 43px 43px 0px;
}

.start-button-container::before {
	left: 145px;
	border-radius: 43px 0px 0px 43px;
}

/* .button-crecsent-spacer-left {
	width: 10px;
	height: 51px;
	background: red;
	position: relative;
	left: 10px;
}
.button-crecsent-spacer-right {
	width: 10px;
	height: 51px;
	background: red;
} */

.clock-icon {
	padding-left: 10px;
}

.page-heading {
	margin: 30px;
}

.spinning-loading-icon {
	padding: 50px;
	background: #101010;
	border-radius: 4px;
	height: 200px;
}
.ant-spin-text {
	padding-top: 35px;
	font-size: large;
}

.error-render {
	background-color: rgba(223, 100, 100, 0.587);
	padding: 10px;
	font-weight: bold;
	border: solid red 2px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.publish {
	justify-content: space-between;
}

@media only screen and (min-width: 40px) {
	body {
		min-width: 400px;
	}
}

@media only screen and (max-width: 650px) {
	.site-banner {
		padding: 10px 20px;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 20px;
	}

	.logout-button {
		margin-left: 10px;
		font-size: 10px;
		padding: 0px 7px;
		height: 30px;
	}
	main {
		margin: 10px;
	}

	.add-exercise-container {
		position: sticky;
		bottom: 20px;
	}
	.workouts-page {
		width: 100%;
	}
	.logout-button {
		margin: 8px;
	}
	.site-banner {
		padding: 10px 15px;
	}
}
