/* .add-exercise-container span,
.ant-input span,
textarea.ant-input {
	color: black;
} */

.add-exercise-container .ant-input,
.add-exercise-container .ant-select-selection-item span {
	color: black;
}

/* Exercise Name */

.exercise-name,
.exercise-name-input {
	display: flex;
}

.exercise-name-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	height: 57px;
}

.edit-exercise-name {
	position: relative;
	left: 3px;
	top: 12px;
}

/* description section */

.description-text-input {
	margin-bottom: 0px;
}
.add-description-button {
	width: 300px;
	margin-bottom: 24px;
}
.close-description-button {
	position: absolute;
	top: 238px;
	right: 237px;
}

/* muscles */
.add-muscles-button {
	margin-bottom: 24px;
}

.muscle-list {
	min-width: 100px;
	margin-top: 10px;
}

.muscle-list-item {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px auto;
	font-size: 11px;
	height: 18px;
}

/* links */
.link-list-item {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px auto;
	font-size: 11px;
	min-height: 18px;
}

/* sets and reps  */
.sets-input {
	height: 32px;
}

.sets-and-reps p {
	position: relative;
	top: -12px;
}

.set-index {
	width: 25px;
}

.set-weight,
.weight-input {
	width: 80px;
	display: flex;
	justify-content: space-evenly;
}

.weight-input-box {
	padding-right: 3px;
	width: 50px;
}
.set-reps {
	width: 75px;
}
label.ant-radio-button-wrapper {
	width: 40px;
}

/* Add Exercise - verify sets before adding to workout */
.add-exercise-data-box {
	border: 4px solid #3586f8;
	border-radius: 15px;
	max-width: 450px;
	margin: auto;
	padding-bottom: 10px;
}

h3.add-exercise-data-exercise-name {
	font-weight: normal;
	font-size: 25px;
	margin: 5px;
}

.exercise-set {
	display: flex;
	align-items: center;
	width: 375px;
	justify-content: space-between;
	margin: 3px 0px;
	height: 32px;
}

.confirm-exercise-button,
.add-set-button {
	margin: 10px;
}

.confirmation-buttons {
	display: flex;
	margin: auto;
	width: 300px;
	justify-content: space-around;
}

.exercise-collapse {
	/* border: 4px solid #3586f8;
	border-radius: 15px; */
	max-width: 450px;
	margin: 10px auto;
	/* padding-bottom: 10px;  */
	/* background-color: rgb(30, 59, 146); */
}

.exercise-collapse path {
	color: white;
}
.exercise-collapse-heading {
	display: flex;
	justify-content: space-between;
}

/* h3.exercise-collapse-heading {
	margin: 0px !important;
} */

.exercise-collapse-heading .expand-summary,
.exercise-collapse-heading .index {
	width: 50px;
	align-self: center;
}

/* div.ant-collapse-header {
	padding: 0px;
	align-items: center !important;
} */

.collapse-form-outlined {
	position: relative;
	top: 2px;
}

:where(.css-dev-only-do-not-override-txh9fw).ant-collapse
	.ant-collapse-content {
	background-color: transparent;
	border-top: none;
	padding: 3px;
}

.ant-collapse-content-box {
	padding: 0px !important;
}

.collapse-exercise-sets {
	display: flex;
	align-items: center;
}

.finish-exercise-button {
	background-color: green;
	height: 25px;
	width: 25px;
	padding: 0px;
	border: none;
	margin: 2px;
}
