/* .add-exercise-container span,
.ant-input span,
textarea.ant-input {
	color: black;
} */

.add-exercise-container .ant-input,
.add-exercise-container .ant-select-selection-item span {
	color: black;
}

/* Exercise Name */

.exercise-name,
.exercise-name-input {
	display: flex;
}

.exercise-name-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	height: 57px;
}

.edit-exercise-name {
	position: relative;
	left: 3px;
	top: 12px;
}

/* description section */

.description-text-input {
	margin-bottom: 0px;
}
.add-description-button {
	width: 300px;
	margin-bottom: 24px;
}
.close-description-button {
	position: absolute;
	top: 238px;
	right: 237px;
}

/* muscles */
.add-muscles-button {
	margin-bottom: 24px;
}

.muscle-list {
	min-width: 100px;
	margin-top: 10px;
}

.muscle-list-item {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px auto;
	font-size: 11px;
	height: 18px;
}

/* links */
.link-list-item {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px auto;
	font-size: 11px;
	min-height: 18px;
}

/* sets and reps  */
.sets-input {
	height: 32px;
}

.sets-and-reps p {
	position: relative;
	top: -12px;
}

label.ant-radio-button-wrapper {
	width: 40px;
}

/* Add Exercise - verify sets before adding to workout */
.add-exercise-data-box {
	border: 4px solid #3586f8;
	border-radius: 15px;
	max-width: 450px;
	margin: auto;
	padding-bottom: 10px;
}

h3.add-exercise-data-exercise-name {
	font-weight: normal;
	font-size: 25px;
	margin: 5px;
}

.exercise-set {
	display: flex;
	align-items: center;
	width: 350px;
	justify-content: space-between;
	margin: auto;
}

.confirm-exercise-button,
.add-set-button {
	margin: 10px;
}

.confirmation-buttons {
	display: flex;
	margin: auto;
	width: 300px;
	justify-content: space-around;
}

.exercise-accordion {
	border: 4px solid #3586f8;
	border-radius: 15px;
	max-width: 450px;
	margin: 10px auto;
	padding-bottom: 10px;
}

.exercise-accordion-heading {
	display: flex;
	margin: auto;
	justify-content: space-between;
	background-color: #25364e;
	border-radius: 15px 15px 0px 0px;
}

.exercise-accordion-heading .expand-summary,
.exercise-accordion-heading .index {
	width: 50px;
	color: white;
}
