/* .pokemon-sleep-page {
	max-width: 600px;
	margin: auto;
} */
.recipe-page {
	background-color: rgb(203, 197, 168);
	width: fit-content;
	margin: 20px auto;
	padding: 20px 20px;
	border: rgb(237, 199, 29) solid 7px;
	border-radius: 25px;
}
.recipe-page .page-heading {
	margin-top: 0px;
}
.recipe-image-and-base-value {
	display: flex;
	height: 100%;
	align-content: space-between;
}
.ingredient-buttons-container {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	margin: 10px auto;
	justify-content: space-evenly;
}
.recipe-page .ant-btn.ingredient-button {
	width: 80px !important;
	height: 80px !important;
}

.ingredient-button {
	width: 100px;
	margin: 10px;
}
.ingredient-button.unlocked-ingredient {
	box-shadow: 0px 0px 10px 8px rgb(0, 170, 255);
}

.save-and-filter {
	display: flex;
	width: auto;
	margin-top: 10px;
	justify-content: center;
	/* margin: auto; */
}

.ingredient-button-icon {
	width: 70px;
	position: relative;
	top: -2px;
}

.ant-input {
	width: 75px;
}
.recipe-page .ant-radio-button.ant-radio-button-checked,
.recipe-page .ant-radio-button-wrapper-checked,
.recipe-page .ant-radio-button-wrapper:hover,
.ant-input:hover,
.ant-btn.ant-btn-sm.pot-size-adjuster,
.recipe-level-adjuster {
	border-color: var(--domain-nav-links-active) !important;
	color: rgb(134, 114, 0) !important;
}
.recipe-level-adjuster:hover {
	border-color: rgb(87, 75, 4) !important;
}
.recipe-page .ant-radio-button-wrapper-checked::before,
.recipe-page .pot-size-adjuster,
.recipe-level-adjuster {
	background-color: var(--domain-nav-links-active) !important;
}
/* 	color: rgb(134, 114, 0);
 */

.uncheck-all-switch {
	margin-left: 30px;
}
.cookable-recipes-header {
	padding: 10px;
	margin: 20px 0px 0px;
	background-color: rgb(227, 211, 170);
	border: rgb(237, 199, 29) solid 5px;
	border-radius: 10px;
	color: rgb(181, 160, 0);
}
.cookable-recipes {
	background-color: rgb(197, 193, 182);
	border-radius: 10px;
}

.recipe-list,
.no-recipe-placeholder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 50px;
	border-bottom: rgb(212, 175, 96) solid 5px;
	border-right: rgb(212, 175, 96) solid 5px;
	border-left: rgb(212, 175, 96) solid 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.recipe-list p {
	margin-left: 5px;
}
.ingredient-list p {
	font-size: 12px;
	text-align: left;
}

.recipe-list .pot-size-adjuster {
	width: 50px !important;
}
.recipe-image-and-base-value {
	position: relative;
	display: flex;
	max-width: 60px;
	height: 100%;
	flex-wrap: wrap;
	align-content: space-evenly;
}
.ingr {
	width: 140px;
}

.base-value {
	position: relative;
	width: 40px;
	left: 10px;
	margin: 0px !important;
	font-size: 14px;
	bottom: 5px;
	color: rgb(95, 82, 0);
}
.recipe-image {
	position: relative;
	top: -2px;
	height: 60px !important;
}
.recipe-level p {
	margin: 0px;
	width: 50px;
}
.recipe-level {
	display: flex;
	flex-wrap: wrap;
	width: 50px;
	height: 60px;
	margin-left: 10px;
	justify-content: center;
	align-content: space-around;
}
.recipe-level-and-image {
	display: flex;
	align-items: center;
}

.ingredient-and-image {
	display: flex;
	flex-wrap: nowrap;
	min-height: 50px;
	width: 260px;
	justify-content: space-between;
	align-items: center;
}

.ingredient-icon-in-recipe {
	height: 20px;
	width: 20px;
}

.ingr {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.uncookable-recipes {
	background-color: rgb(148, 139, 111);
	opacity: 0.5;
}

/* homepage */
.pokebuddy-homepage {
	max-width: 1000px;
	margin: auto;
}

.type-preview-section,
.sleep-preview-section {
	display: flex;
	width: 1000px;
	text-align: justify;
	vertical-align: middle;
	border: yellow 2px solid;
	border-radius: 10px;
	padding: 10px;
	justify-content: space-between;
	margin: 20px;
}
/* .type-preview-section-center {
	height: 240px;
	line-height: 250px;
	width: 400px;
	padding: 0px 50px;
} */
.sleep-preview-section-center,
.type-preview-section-center,
.coming-soon-section-center {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 25px 50px 50px;
}
.coming-soon-blurb {
	margin: 10px;
}

.coming-soon-blurb li {
	color: white;
}

.coming-soon-blurb ul {
	margin-left: 40px;
}
.pokebuddy-homepage h3 {
	text-align: center;
}

/* .pokebuddy-homepage Link {
	co
} */

h4 {
	display: inline-block;
	vertical-align: middle;
	line-height: 18px; /* <-- adjust this */
	margin: 20px;
}

p {
	display: inline-block;
	vertical-align: middle;
	line-height: 18px; /* <-- adjust this */
}
/* .center {
	line-height: 200px;
	height: 700px;
	border: 3px solid green;
	text-align: center;
	padding: auto;
} */
/* .center p {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
	margin: auto;
} */
.type-preview {
	width: 600px;
}

.sleep-preview {
	width: 300px;
}
@media only screen and (max-width: 600px) {
	#root {
		width: 100%;
	}
	main {
		width: 100%;
		margin: 15px 0px;
	}
	.base-value {
		position: absolute;
		top: 35px;
		width: 30px;
		left: 10px;
		text-align: center;
		margin: 0px !important;
	}
	.recipe-page {
		width: 95%;
		padding: 2px;
		margin: auto;
		box-sizing: border-box;
	}
	.recipe-name {
		width: 150px;
	}
	.ingredient-button.unlocked-ingredient {
		box-shadow: 0px 0px 3px 6px rgb(0, 170, 255);
	}
	.recipe-page .ant-btn.ingredient-button {
		width: 50px !important;
		height: 50px !important;
	}

	.ingredient-button-icon {
		width: 40px;
		position: relative;
		top: -3px;
	}
	.ingredient-buttons-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-evenly;
	}
	.ingredient-button {
		width: 100px;
		margin: 10px;
	}
	.ingredient-and-image p {
		font-size: 11px;
	}

	.ingredient-and-image {
		width: 200px;
		font-size: 11px;
	}
	.recipe-image {
		position: relative;
		top: -5px;
		height: 50px !important;
		width: 50px !important;
	}
	.recipe-image-and-base-value {
		height: 100%;
	}
	.ingr {
		width: 90px;
	}

	.recipe-page h2 {
		position: relative;
		top: 20px;
		color: rgb(165, 140, 0);
	}
}
