.amiibo-card {
	width: 150px;
	height: 250px;
	background-color: rgb(77, 77, 77);
	border: 2px solid white;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
}
.amiibo-name {
	display: flex;
	height: 40px;
	background-color: rgb(186, 134, 134);
	justify-content: center;
	align-items: center;
}

.amiibo-name.two-lines {
	font-size: 0.99em;
}
.amiibo-name.three-lines {
	font-size: 0.85em;
}

.amiibo-input-form-image-name.three-lines {
	font-weight: bold;
	font-size: 0.9em;
}
.amiibo-image-container {
	display: flex;
	height: 150px;
	width: 100px;
	align-items: center;
	margin: 10px auto;
	justify-content: center;
}
.amiibo-image {
	max-height: 150px;
	max-width: 100px;
}

.amiibo-grid,
.list-group {
	display: flex;
	min-width: 600px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.amiibo-inventory-form-price {
	display: flex;
	justify-content: space-between;
}

.currency-select {
	width: 150px;
}

.amiibo-image-banner {
	display: flex;
	height: 190px;
	width: 450px;
	justify-content: center;
}

.amiibo-image-card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 190px;
	max-width: 110px;
	align-content: center;
}
.amiibo-input-form-image-container {
	height: 124px;
	display: flex;
	align-items: flex-end;
}
.amiibo-input-image {
	max-height: 100%;
	max-width: 100%;
}

.number-of-amiibo-packs {
	width: 70px;
}

.ant-upload-list {
	margin: 20px;
}
@media only screen and (max-width: 420px) {
	.price-input-number {
		width: 100px;
	}
	.price-label {
		float: right;
		width: 100%;
	}
	.number-of-amiibo-packs {
		width: 100px;
	}
	.ant-space-item .amiibo-pack-selector {
		width: 100px;
	}
	.amiibo-image-banner {
		display: flex;
		flex-wrap: wrap;
		max-width: 350px;
		justify-content: space-evenly;
		height: auto;
	}
	.amiibo-image-card {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		max-width: 87.5px;
		justify-content: space-between;
		align-items: center;
		height: auto;
		padding: 5px 0px;
		margin: 0px;
	}
	.ant-form-item,
	.ant-form-item .ant-form-item-label {
		margin-bottom: 0px;
		padding: 0px;
	}
	.ant-upload-list {
		margin-top: 10px;
	}
}

.map-container {
	height: 300px;
	border-radius: 10px;
	width: auto;
}

.combobox-input {
	width: 100%;
	padding: 0.5rem;
	background-color: white;
}

/* .gmnoprint {
	width: 10px;
} */

a {
	color: inherit;
	text-decoration: none;
}

.combobox-input a {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: inherit;
	text-decoration: none;
}

.places-container {
	position: relative;
	z-index: 10;
	width: 100%;
}

.combobox-input {
	width: 100%;
	padding: 0.5rem;
}

.hidden {
	visibility: hidden;
}

/* .gmnoprint {
	visibility: hidden;
} */

.carousel-slide {
	display: flex;
	justify-content: center;
}

.slick-dots {
	margin: 0;
}

/* .ant-radio-button.ant-radio-button-checked {
	font-weight: bolder;
} */

.amiibo-inventory-page {
	width: 90%;
	margin: auto;
	padding: 10px;
	background-color: rgb(15, 8, 8);
	border-radius: 20px;
	border: black solid 2px;
}

.ant-modal .black-font {
	color: black;
}
.ant-radio-button-wrapper-disabled {
	background-color: rgba(120, 120, 120, 0.62);
	border-color: rgba(255, 255, 255, 0.131);
}
/* 
.amiibo-filter-menu .ant-radio-group {
	width: 100%;
}
.ant-radio-button-wrapper > .ant-radio-button {
	width: 75px;
} */

.list-group-item {
	list-style: none;
}

.amiibo-pagination {
	background-color: var(--domain-nav-links-active);
	width: fit-content;
	margin: auto;
	border: var(--domain-header) solid 4px;
	border-radius: 10px;
	padding: 5px 10px;
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked.ant-radio-button-wrapper-in-form-item {
	border-color: rgb(184, 0, 0);
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: var(--domain-header);
}

.ant-radio-button.ant-radio-button-checked {
	border-color: rgb(184, 0, 0);
	background-color: var(--domain-nav-links-active);
	opacity: 0.75;
}

.amiibo-filter-menu .ant-radio-button-wrapper:hover {
	color: var(--domain-header);
}
