#root {
	margin: 0px;
	text-align: center;
}

/* .main {
	margin: 30px;
} */

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
.workout-button {
	margin: 3px;
}

.logout-button {
	margin-left: 20px;
}
.add-new-workout-button {
	background-color: rgb(0, 89, 205);
}
.header {
	background-color: rgb(0, 110, 255);
	padding: 10px 75px;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.account {
	display: flex;
	align-items: center;
}

.account p {
	padding-right: 15px;
	margin: 0px;
}
h1 {
	margin: 0px;
	text-align: left;
}

input[value] {
	color: #c6c6c6;
}
input[value].new-workout-input,
.ant-select-auto-complete span,
.ant-select-item-option-content {
	color: black;
}

.new-workout-name {
	display: flex;
	width: 400px;
	margin: auto;
	justify-content: center;
}
.auth-page p {
	width: 100%;
}

.auth-page {
	width: 600px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.workouts-page {
	width: 400px;
	margin: auto;
}

.exercise-page {
	text-align: center;
}
.exercise-search {
	width: 300px;
}
